In [1]:
import json
import requests
import pandas as pd
import pickle

In [4]:
from flask import Flask, request, jsonify

In [6]:
data = request.get_json(force=True)

In [4]:
data = {'Pclass': 3
      , 'Age': 2
      , 'SibSp': 1
      , 'Fare': 50}

In [3]:
json_data = json.dumps(data)

In [22]:
json_data

'{"Pclass": 3, "Age": 2, "SibSp": 1, "Fare": 50}'

In [23]:
data

{'Pclass': 3, 'Age': 2, 'SibSp': 1, 'Fare': 50}

In [24]:
data.items()

dict_items([('Pclass', 3), ('Age', 2), ('SibSp', 1), ('Fare', 50)])

In [25]:
for x, y in data.items():
    print(x,y)

Pclass 3
Age 2
SibSp 1
Fare 50

In [26]:
data.update((x,[y]) for x, y in data.items())

In [27]:
data

{'Pclass': [3], 'Age': [2], 'SibSp': [1], 'Fare': [50]}

In [28]:
data_df = pd.DataFrame.from_dict(data)

In [17]:
data_df

   Pclass  Age  SibSp  Fare
0       3    2      1    50

In [35]:
pickle.load(f)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [36]:
f= open('model.pkl','rb')
f.close()

In [15]:
url = 'http://127.0.0.1:5000/'

In [16]:
data = {'Pclass': 3
      , 'Age': 2
      , 'SibSp': 1
      , 'Fare': 50}

json_data = json.dumps(data)
json_data

'{"Pclass": 3, "Age": 2, "SibSp": 1, "Fare": 50}'

In [17]:
send_request = requests.post(url, json_data)
send_request

In [18]:
send_request.json()

{'results': {'results': 1}}